body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#0b1320,#14532d);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:rgba(255,255,255,0.1);
    padding:25px;
    border-radius:20px;
    width:90%;
    max-width:600px;
    text-align:center;
    backdrop-filter:blur(10px);
}

button{
    margin:5px;
    padding:10px 15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

#botoes button{
    display:block;
    width:100%;
}
